.wrapper {
  width: 269px;
  height: 491px;
  /* margin: 10px; */
  box-sizing: border-box;
  margin: auto;
  margin-bottom: -40px;
  position: relative;
  /* border: 1px solid black; */
}
.grid {
  /* height: 1070px; */
  width: 1150px;
  padding: 28px 50px 50px 36px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: auto;
  margin-top: 50px;
}
.figure {
  width: 269px;
  float: left;
  margin: 0;
}
.figcaption {
  /* display: flex;
  align-items: baseline;
  z-index: 5; */
  text-align: left;
  margin-top: 360px;
}

.figcaption p {
  width: 90%;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 500;
}
.link {
  /* margin: 25px 0; */
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 10px;
  padding-top: 10px;
}
.hoverAnimation {
  position: absolute;
  height: 350px;
  width: 269px;
  margin: 10px auto 0;
  color: #fff;
  /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6); */
}
.hoverAnimation img {
  position: absolute;
  left: 0;
  top: -10px;
  width: 267px;
  /* border: 1px solid black; */
  height: 400px;
  -webkit-transition: opacity 0.35s ease-in-out;
  -moz-transition: opacity 0.35s ease-in-out;
  -ms-transition: opacity 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
.hoverAnimation img.imgFront:hover {
  opacity: 0;
  cursor: pointer;
}
.wishBack {
  position: relative;
  /* border: 1px solid black; */
  width: 32px;
  height: 32px;
  background-color: whitesmoke;
  border-radius: 50%;
  top: 32px;
  left: 0px;
  z-index: 1;
}
.emptyHeartAlone {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 25px;
  height: 25px;
  color: #c9ac92;
}
/* .emptyHeart {
  top: -93.5%;
  left: 0%;
  /* left: 35%; */
/* width: 25px;
  height: 25px;
  position: relative;
  color: #c9ac92;
} */
.filledHeart {
  position: absolute;
  top: 6px;
  left: 6px;
  /* left: 35%; */
  width: 25px;
  height: 25px;
  color: #c9ac92;
}
