.linkTag > * {
  margin: 12px;
  font-size: 14px;
  letter-spacing: 0.1px;
  margin-right: 17px;
}
.link:hover {
  border-bottom: 1px solid black;
}

.crumlink {
  display: block;
  padding: 8px;
  margin: 2px;
  font-size: 13px;
}
/* 
<Box>
        <Flex justifyContent={"center"}>
          <IconButton
            onClick={onOpen}
            pl={3}
            display={["block", "block", "Block", "none"]}
            icon={<GiHamburgerMenu />}
          />
        </Flex>
      </Box> */
